.main-movie-wrapper {
  padding: 1rem;
}

.movie-data-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #535353;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 15px;
}

.movie-data-container .title-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-radius: inherit;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.title-block {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-content: center;
  width: 100%;
}

.title-wrapper h2 {
  font-size: 2em;
  line-height: 110%;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0;
  color: #000000;
}

.title-wrapper .title-sub-data {
  padding: 15px 0 0;
  margin: 0;
  font-weight: 300;
}

p.sub-text-right {
  padding-right: 5px;
  padding-bottom: 10px;
  display: inline-block;
}

p.sub-text-left {
  padding-left: 5px;
  padding-bottom: 10px;
  display: inline-block;
}

.movie-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.movie-data img.movie-image {
    display: block;
    height: 400px;
    margin: 0 auto;
    width: 100%;
}

.movie-data .movie-detail {
    padding: 20px 0 0;
}

.movie-info {
    line-height: 120%;
    padding-bottom: 1rem;
}

.movie-info-last {
    line-height: 120%;
    padding-bottom: .1rem;
}

.bold {
    font-weight: 900;
}