.movie-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    width: 100%;
    margin: 0 auto;
}

img.movie-poster {
    max-width: 250px;
    max-height: 375px;
    height: 325px;
    width: 200px;
}