.nav-container {
    background-color: #000000;
    height: 80px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.headline {
    color: #ffffff;
    font-size:2em;
}